header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 70px;

}

.innerHeader {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}


.searchBx {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    width: 400px;
    border-radius: 16px;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 98%;
}

input:focus {
    outline: none;
}

.searchbt {
    height: 35px;
    border: none;
    border-radius: 8px;
    width: 90px;
    color: #fff;
    cursor: pointer;
    transition: ease 0.2s;

}

.searchbt:hover {
    opacity: 0.7;
}

.headerIcons{
    display: flex;
    gap: 20px;
}

.headerbt {
    height: 40px;
    border-radius: 6px;
    border: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    width: 40px;
    cursor: pointer;

}

.button-notification{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    background-color: #0F263A;
    transition: ease 0.2s;
}

.headerbt:hover .button-notification{
    scale: 1.1;   
}

